# Scala y SBT
target/
project/target/
project/project/
.bsp/
.scala-build/
.bloop/
.cache/
.metals/
.history/

# Metadatos del Editor (IntelliJ / VS Code)
.idea/
*.iml
.vscode/

# Datos del sistema y temporales
.DS_Store
*.log

# Tu carpeta de datos y delta (opcional)
# Si no quieres subir los 1000s de archivos de datos a GitHub, descomenta estas:
data/
delta/
# Si quieres subir los datos pero no los archivos de checkpoint, descomenta esta:
# checkpoint/
# Si quieres subir los archivos de checkpoint pero no los archivos de logs, descomenta esta:
# logs/

# dashboard/
.vscode/
